.settings {
    display: grid;
    grid-area: main;
    margin-top: 8px;
    height: calc(100vh - var(--header-height) - var(--footer-height));

}

.settings__container {
    display: grid;
    align-content: start;
    max-width: 474px;
}

.settings__title{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 8px;
}

.settings__subtitle{
    font-size: var(--font-medium);
    color: var(--grey-font);
    line-height: 18px;
    margin-bottom: 14px;
}

.asterics {
    color: var(--red-font);
}

.settings__label{
    font-size: var(--font-small);
    line-height: 18px;
}

.settings__input {
    display: grid;
    border: 2px solid var(--grey-border);
    text-indent: 13px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 18px;
    width: 100%;

}

.settings__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin: 10px;
    width: 16px;
    height: 16px;
    background: url('../assets/Vectorclear_button.svg');
}



::placeholder {
    color: var(--grey-font);
    font-size: var(--font-small);
    line-height: 18px;
}

#sync {
    display: inline;
    width: 52px;
    height: 36px;
    margin: 8px;
    font-size: var(--font-small);
    text-align: end;
    padding-right: 13px;
}

#sync::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.settings__buttons {
    display: grid;
    row-gap: 12px;
    margin: 20px 0;
}

.settings__buttons > button{
    height: 36px;
    font-size: var(--font-small);
    justify-content: center;
}

.settings__buttons span {
    margin: 0 20px;
}

.error{
    display: inline;
    color: var(--red-font);
    font-size: var(--font-small);
}
.error_input {
    outline: none !important;
    border-color: var(--red-hover-font);
    box-shadow: 0 0 3px var(--red-hover-font);
    background-color: #fff;
}


@media (min-width: 600px) {

    .settings__subtitle{
        margin-bottom: 22px;
    }

    .settings__buttons {
        grid-template: 1fr / repeat(2, max-content);
        column-gap: 8px;
        margin: 24px 0;
    }
}