.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0 ,0 , .5);
    display: grid;
    grid-template-rows: 1fr max-content 1fr;
    justify-content: center;
    z-index: 2;
}

.modal__body {
    display: grid;
    grid-row: 2/3;
    grid-template: repeat(4, max-content) / auto;
    align-items: center;
    row-gap: 12px;
    margin: 0 var(--margins);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 6px 16px rgba(67, 68, 69, 0.3);
    background: rgb(255, 255, 255);
}

.modal__title{
    font-weight: var(--weight-bold);
    font-size: 18px;
    line-height: 20px;
}

.modal__subtitle{
    font-size: var(--font-medium);
    line-height: 18px;
}

.modal__input {
    display: grid;
    border: 2px solid var(--grey-border);
    text-indent: 13px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    width: 100%;
}

.modal__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin: 10px;
    width: 16px;
    height: 16px;
    background: url('../assets/Vectorclear_button.svg');
}

.modal__buttons {
    display: grid;
    row-gap: 12px;
}

.modal__buttons > button{
    height: 36px;
    font-size: var(--font-small);
    justify-content: center;
}

.modal__buttons span {
    margin: 0 20px;
}

@media (min-width: 600px) {
    .modal__body {
        width: 485px;
        margin: 0;
    }

    .modal__buttons {
        grid-template: 1fr / repeat(2, max-content);
        column-gap: 8px;
    }

    
}