.footer{
    display: grid;
    grid-area: footer;
    grid-template-columns: 1fr;
    row-gap: 8px;

    padding: 12px var(--margins);
    background-color: var(--grey-bg);
    line-height: 18px;

    font-size: var(--font-small);
    letter-spacing: 0.06px;
    color: var(--grey-font);
}

a {
    display: grid;
    text-decoration: none;
    color: var(--grey-font);
}

a:hover{
    color: var(--red-hover-font);
}


.footer__left {
    display: grid;
    justify-content: start;
    grid-template: 1fr/ repeat(3, auto);
    column-gap: 12px;
    align-items: center;
}

.footer__right {
    display: grid;
    justify-content: start;
    align-items: center;
}

@media (min-width: 600px) {
    .footer{
        grid-area: footer;
        grid-template-columns: 1fr 1fr;
        padding: 8px var(--margins);
        background-color: var(--grey-bg);
    }

    .footer__right {
        justify-content: end;
    }
}